.color-button {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease;
}
.color-button svg {
    width: 20px;
    height: 20px;

    transition: all 0.2s ease;
}
.color-button:hover svg {
    transform: scale(1.1);
}