:root{
    --button-width: 150px;
}
.front-mentor{
    width: 100%;
    display: flex;
    justify-content: center;

    padding: 50px 0;

    background: rgba(34,0,33,1);
    background: linear-gradient(10deg, rgba(0,0,0,1) 15%, 
                rgba(34,0,33,1) 50%, rgba(34,0,33,1) 75%, 
                rgba(0,0,0,0.95) 100%);
}
.front-mentor-container{
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;
    gap: 30px;
}
.front-mentor-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 25px;

    padding-bottom: 60px;
}

.front-mentor-button-container{
    width: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;

    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.95) 0%, rgba(255,255,255,0) 100%);
}
.front-mentor-see-more-button{
    background: rgba(0,0,0,0.75);
    border: 1px solid white;

    color: white;
    width: var(--button-width);
    padding: 7px;

    border-radius: 5px;
    z-index: 1;

    transition: background 0.5s ease;
}

@media (hover: hover){
    .front-mentor-see-more-button:hover{
        background: rgba(0,0,0,1);
    }
}