.skill-container{
    width: 100%;
    height: 100px;
    background-color: rgba(44, 44, 44, 0.5);

    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 30px;

    padding: 0 30px 0 30px;
    align-self: center;

    transition: transform .5s ease;
}
.skill-container:hover{
    transform: scale(1.05);
}
.skill-logo{
    width: 75px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-logo img{
    width: 100%;
    object-fit: cover;
}
.skill-info{
    width: 100%;
    color: white;
}
.skill-info p:nth-child(1){
    font-size: 18px;
    font-weight: bold;
}
.skill-info p:nth-child(2){
    font-size: 14px;
}

@media (max-width: 500px){
    .skill-container{
        gap: 20px;
        padding: 0 15px;
    }
    .skill-logo{
        width: 75px !important;
    }
    .skill-info p:nth-child(1){
        font-size: 16px;
    }
    .skill-info p:nth-child(2){
        font-size: 12px;
    }
}