.illustration-card-container {
	position: relative;

	border-radius: 8px;
	overflow: hidden;
}
.illustration-card-container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.illustrations-container .wide2 {
	grid-column: span 2;
}
.illustrations-container .tall2 {
	grid-row: span 2;
}
.illustrations-container .tall3 {
	grid-row: span 3;
}
.illustrations-container .big {
	grid-column: span 2;
	grid-row: span 2;
}

.background-illustration-card-info{
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	
	background: rgba(0, 0, 0, .25);
	opacity: 0;
	visibility: 0;
	transition: opacity .2s ease-out, visibility 0.2s ease-out;
}

.illustration-card-info{
	height: auto;
	position: absolute !important;
	bottom: 0 !important;
}

.illustration-card-icons svg{
	width: 30px;
	height: 30px;
}


@media (max-width: 800px){
    .illustrations-container .wide2 {
		grid-column: span 1;
	}
	.illustrations-container .tall2 {
		grid-row: span 1;
	}
	.illustrations-container .tall3 {
		grid-row: span 1;
	}
	.illustrations-container .big {
		grid-column: span 1;
		grid-row: span 1;
	}
}


@media (hover: hover) {
	.background-illustration-card-info:hover{
		opacity: 1;
		visibility: 1;
	}
	.illustration-card-icons a:hover{
		transform: scale(1.1);
	}
}