.videos{
    width: 100%;
    color: white;

    background: rgb(18,0,39);
    background: linear-gradient(60deg, rgba(18,0,39,1) 20%, rgba(0,0,0,1) 100%);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    padding: 30px 0;
}

.videos-container{
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 0 20px;
}

.previous-button, .next-button{
    width: 40px;
    height: 40px;
    z-index: 1;

    box-sizing: border-box;

    background: rgba(255, 255, 255, 0.25);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background .1s ease;
}
.previous-button:hover, .next-button:hover{
    background: rgba(255, 255, 255, 0.4);
}

.video-card-container{
    width: 100%;
    height: 100%;

    max-width: 100%;
    max-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.video-card-container-carrousel{
    height: 100%;   
    width: 100%;
    display: flex;
    align-items: flex-start;

    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.ml-0{
    /* margin-left: 0; */
    transform: translateX(0);
}
.ml-100{
    /* margin-left: -200%; */
    transform: translateX(-100%);
}
.ml-200{
    /* margin-left: -400%; */
    transform: translateX(-200%);
}




@media (max-width:800px){
    .videos{
        gap: 20px;
    }
    .videos-container{
        gap: 0px;
        padding: 0 20px;
    }
}
@media (max-width: 500px){
    .videos-container{
        position: relative;
    }
    .previous-button, .next-button{
        position: absolute;
        border-radius: 0;
        
        width: 20px;
        height: 50px;

        top: calc(50% - 20px);
    }
    .previous-button{
        left: 0px;
    }
    .next-button{
        right: 0px;
    }
}