:root{
    --projects-background: #140715;
    --button-color: white;
}
.projects{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--projects-background);
    box-sizing: border-box;

    gap: 20px;
}
.projects-title{
    width: 90%;
    color: white;
    margin-top: 20px;
    border-bottom: 1px solid white;
    font-size: 32px;
    padding: 10px;
    text-align: center;
}
.projects-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.projects-container div{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.projects-container div img{
    position: absolute;
    top: -1%;
    height: 102%;
    object-fit: cover;

    filter: contrast(.9);
    transition: .75s ease;
}
.projects-illustrations-Web:hover img{
    filter: contrast(1.2);
    transform: scale(1.1);
}

.project-info{
    width: 100%;
    height: 100%;

    background: rgba(0,0,0, .4);
    display: flex;
    flex-direction: column;
    gap: 100px;

    justify-content: center;
    align-items: center;
    z-index: 1;
}
.project-info h1{
    width: 80%;
    padding: 10px;

    color: white;
    border-bottom: 1px solid white;

    font-size: 24px;
    text-align: center;
}

.project-info button{
    height: 50px;
    width: 150px;
    border: 1px solid var(--button-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .75s ease;
}
.project-info button:hover{
    background-color: black;
    border: 0px solid black;
    -webkit-transition: background-color .75s ease;
    -ms-transition: background-color .75s ease;
    transition: background-color .75s ease;
}

@media (max-width:913px){
    .projects-container{
        width: 90%;
        grid-template-columns: 1fr;
        margin-bottom: 30px;
    }
    .projects-container div img{
        width: 100%;
    }
}