.border-30 {
    border: 1px solid var(--lines-color);
    border-radius: 30px;
}
.svg-50 svg {
    fill: var(--lines-color);
    height: 50px;
    width: 50px;
}
.svg-40 svg, .svg-40 a {
    fill: var(--lines-color);
    height: 35px;
    width: 35px;
}

.language-style:hover {
    background-color: var(--lines-color);
}
.language-style:hover p, .language-style:hover p span {
    color: var(--white) !important;
}