.side-menu-container {
    position: fixed !important;
    left: 0 !important;
    bottom: 0;
    z-index: 2;

    height: calc(100vh - 70px);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    overflow: hidden;

    border: none;
}

.side-menu-container svg {
    fill: var(--lines-color);
    stroke: var(--lines-color);

    width: 22px;
    height: 22px;
}

.lines-background {
    background-color: var(--lines-color);
    color: var(--white);
}
.lines-background svg{
    background-color: var(--white);
    padding: 5px;

    border-radius: 5px;
}

.end {
    justify-self: flex-end;
}