@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root{
    --main-body-color: #E6EFFD;
    --main-title-color: #FF567E;
    --lines-color: #FF567E;
    --text-color: #717171;
    --all-info-container-color: #E6EFFD;
    
    
    --black-to-white-color: #000000;
    --white-to-black-color: #FFFFFF;
    --light-gray-color: rgba(236,236,236,0.7);
    --border-color: rgba(255,255,255, 0.5);

    --white: #FFFFFF;
    --background-width: 80%;
}

html {
    scroll-behavior: smooth;
}

p, span, div, h2, h1 {
    margin: 0;
}

body {
    margin: 0;
    font-family: "Libre Baskerville", "serif" !important;

    transition: all 0.2s ease;
    box-sizing: border-box;
    background: var(--main-body-color) !important;
}
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    color: transparent;
}
button {
    border: none;
}


.border-left-style {
    border: none !important;
    border-left: 2px solid var(--lines-color) !important;
}

.shadow-style {
    transition: all 0.15s ease !important;
}
.shadow-style:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25) !important;
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25) !important;
}


.scrollable-cards {
	overflow-y: scroll;
    overflow-x: hidden;
}

.scrollable-cards::-webkit-scrollbar {
    width: 13px;
  }

.scrollable-cards::-webkit-scrollbar-track {
    background: #373737;
}

.scrollable-cards::-webkit-scrollbar-thumb {
    background-color: #5E5E5E;
    border-radius: 0px;
}


.animacion{
    position: relative;
}
.animacion::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .5s ease;
}


@media (hover: hover) {
    .scrollable-cards::-webkit-scrollbar-thumb:hover {
        background-color: #747474;
    }
    .animacion:hover::after {
        width: 100%;
    }
}