.illustrations-container {
    width: 100%;

	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	grid-auto-rows: auto;
	grid-auto-flow: dense;
}

@media (max-width: 700px){
    .illustrations-container {
        grid-template-columns: 1fr;
    }
}
