@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Libre Baskerville", "serif";
}

.scrollable-cards {
	overflow-y: scroll;
    overflow-x: hidden;
}

.scrollable-cards::-webkit-scrollbar {
    width: 13px;
  }

.scrollable-cards::-webkit-scrollbar-track {
    background: #373737;
}

.scrollable-cards::-webkit-scrollbar-thumb {
    background-color: #5E5E5E;
    border-radius: 0px;
}
.scrollable-cards::-webkit-scrollbar-thumb:hover {
    background-color: #747474;
}


.animacion{
    position: relative;
}
.animacion::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width .5s ease;
}
.animacion:hover::after {
    width: 100%;
}