nav{
    font-family: "Libre Baskerville", "serif";

    animation-name: navAnimation;
    animation-duration: 5s;
    animation-timing-function: ease;
}
nav ul li{
    transition: transform .75s ease;
}

.icon-responsive{
    display: none;
    transition: transform 1s ease;
}

.navbar-right ul{
    flex-direction: row;
}

@keyframes navAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media (max-width: 950px) {
    .navbar .navbar-right{
        display: none;
    }
    .icon-responsive{
        display: flex;
        align-items: center;
    }
}