nav ul li{
    transition: transform .75s ease;
}

.icon-responsive{
    display: none;
    transition: transform 1s ease;
}

.navbar-right ul{
    flex-direction: row;
}
.close-button{
    height: 28px;
    width: 28px;
    padding: 4px;
    background: rgba(0, 0, 0, .5);
    border-radius: 6px;
}



@media (max-width: 950px) {
    .navbar .navbar-right{
        display: none;
    }
    .icon-responsive{
        display: flex;
        align-items: center;
    }
}